body {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 90wh;
    background-image:url(https://64.media.tumblr.com/ebd6118c0c9bb5a250d4b7bd6823a9ba/5830b912a1374360-83/s2048x3072/4b36274ca390bb6474f2094654015474bf5b2446.pnj);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
}

#yesButton {
    position: absolute;
    margin-right: 150px
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 25px;
}

.btn {
    background-color:rgb(255, 255, 255) ;
    color:rgb(21, 255, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 320px) and (max-height: 568px) {
    body{
        height:100vh;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 10px 10px;
        font-size: 12px;
    }
}

@media only screen and (max-width:414px) and (max-height:736px){
    body {
        height: 90vh;
    }
    
    img { 
        height: 68vh
    }

    .btn{
        padding: 15px 25px;
        font-size: 14px;
    }
    }
    

  